body,
.main-content {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

header {
    background-color: #a3b18a;
    border-radius: 5px;
    color: black;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
nav li {
    font-size: 1.2rem;
    margin-right: 1rem;
}
  
nav a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

nav a.selected {
  color: white;
  background-color: #a3b18a;
}

nav a:hover {
    color: white;
}

section {
  padding: 2rem; 
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.pfp {
  max-width: 60%;
  border-radius: 5%;
  border: 2px solid #a3b18a;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.selected {
  background-color: #dad7cd;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

.about-image {
  max-width: 100%;
  text-align: center;
}

.profile-img {
  max-width: 100%;
  border-radius: 50%;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.portfolio-section {
  background-color: #dad7cd;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.contact-section {
  padding: 4rem 0; 
  background-color: #dad7cd;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.contact-form {
  width: 100%; 
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.submit-button {
  background-color: #a3b18a;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #7c8a62;
}

.project-image {
  max-width: 100%;
  height: auto;
  width: 100%;
}
.project-tile {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-tile .github-logo {
  margin-top: auto;
}

.github-logo {
  max-width: 30px;
  height: auto;
}

.project-image-container {
  position: relative;
  overflow: hidden;
}

.project-image {
  transition: transform 0.3s ease-in-out;
}

.view-app-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

.project-image-container:hover .project-image {
  transform: scale(1.05);
  filter: brightness(70%);
}

.project-image-container:hover .view-app-text {
  opacity: 1;
}

.footer {
  background-color: #dad7cd;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.social-icons a {
  font-size: 30px;
  color: #777;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #333;
}

.pdf-container {
  background-color: #dad7cd;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-frame {
  width: 100%;
  height: 600px;
  border: none;
}

/* Media query */
@media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
  
    nav li {
      margin: 0.5rem 0;
    }

    .about-content {
      grid-template-columns: 1fr;
    }

    .project-grid {
      grid-template-columns: 1fr;
    }
  }