header {
    background-color: #a3b18a;
    border-radius: 5px;
    color: black;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
nav li {
    font-size: 1.2rem;
    margin-right: 1rem;
}
  
nav a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

nav a.selected {
  color: white;
  background-color: #a3b18a;
}

nav a:hover {
    color: white;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

section {
  padding: 12rem; 
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
}

.selected {
  background-color: #dad7cd;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

.profile-img {
  max-width: 100%;
  border-radius: 50%;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Media query */
@media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
  
    nav li {
      margin: 0.5rem 0;
    }

    .about-content {
      grid-template-columns: 1fr;
    }
  }