header {
    background-color: #a3b18a;
    border-radius: 5px;
    color: black;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section h2 {
  margin-top: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
nav li {
    font-size: 1.2rem;
    margin-right: 1rem;
}
  
nav a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

nav a.selected {
  color: white;
  background-color: #a3b18a;
}

nav a:hover {
    color: white;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

section {
  padding: 12rem; 
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
}

.selected,
#contact {
  background-color: #dad7cd;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

.profile-img {
  max-width: 100%;
  border-radius: 50%;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.portfolio-section {
  background-color: #dad7cd;
  padding: 10rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.submit-button {
  background-color: #a3b18a;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #7c8a62;
}

.project-image {
  max-width: 100%; /* Adjust this value as needed */
  height: auto; /* Maintain aspect ratio */
  width: 100%;
}

.github-logo {
  max-width: 30px;
  height: auto;
}

/* Media query */
@media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
  
    nav li {
      margin: 0.5rem 0;
    }

    .about-content {
      grid-template-columns: 1fr;
    }

    .project-grid {
      grid-template-columns: 1fr;
    }
  }